@font-face {
  font-family: "Dansestudiet1";
  src: url("./fonts/DansestudietDisplay1-bold.otf") format("truetype");
  /* Juster stien og formatet efter din filtype (.ttf, .otf, etc.) */
}

@font-face {
  font-family: "Dansestudiet2";
  src: url("public/Fonts/DansestudietDisplay1.otf");
}
@font-face {
  font-family: "Dansestudiet3";
  src: url("public/Fonts/DansestudietSimple-Bold.otf");
}
@font-face {
  font-family: "Dansestudiet4";
  src: url("public/Fonts/DansestudietSimple.otf");
}

/* @font-face {
  font-family: "opensans1";
  src: url("./Fonts/OpenSans-Italic-VariableFont_wdth,wght.tff");
}
@font-face {
  font-family: "opensans2";
  src: url("./Fonts/OpenSans-VariableFont_wdth,wght.tff");
} */

h2 {
  font-family: Dansestudiet2;
}

p {
  font-family: "Open Sans", sans-serif;
}
