---
import { Image } from "astro:assets";
import breakdance from "../assets/images/breakdance.webp";
import hiphop from "../assets/images/hiphop.webp";
import contemporary from "../assets/images/contemporary.webp";
---

<div class="cards">
  <div class="card">
    <Image src={breakdance} alt="breakdance" />
    <div class="label">
      <h6>BREAKDANCE</h6>
      <span class="arrow">&rarr;</span>
    </div>
  </div>
  <div class="card">
    <Image src={hiphop} alt="hiphop" />
    <div class="label">
      <h6>HIP-HOP</h6>
      <span class="arrow">&rarr;</span>
    </div>
  </div>
  <div class="card">
    <Image src={contemporary} alt="contemporary" />
    <div class="label">
      <h6>CONTEMPORARY</h6>
      <span class="arrow">&rarr;</span>
    </div>
  </div>
</div>
<style>
  @media (max-width: 600px) {
    .cards {
      display: block;
    }
  }
  .label {
    background-color: var(--stilarter-default-surface);
  }
  .arrow {
    display: flex;
    justify-content: center;
    font-size: 2rem;
  }
  .arrow:hover {
    color: var(--stilarter-hover);
  }

  @media (min-width: 600px) {
    .cards {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      gap: 30px;
      padding-block: 4rem;
    }
    .card {
      max-width: fit-content;
    }
    .label {
      display: flex;
      color: white;
      transform: translate(0, -80px);
      cursor: pointer;
      justify-content: space-between;
    }
  }
</style>
