---
import { Image } from "astro:assets";
import header from "../assets/images/headerbillede.webp";
---

<section class="container">
  <div class="img">
    <Image class="header" src={header} alt="header" />
  </div>
  <div class="title">
    <h1>Danse</h1>
    <h1 class="studiet">Studiet</h1>
  </div>
</section>

<style>
  @media (min-width: 800px) {
    img {
      clip-path: polygon(0 0, calc(100% - 145px) 0, calc(100% - 7px) calc(100% - 0px), 0 calc(100% - 0px));
    }
    section {
      display: flex;
      border-bottom: 4px solid var(--border-stroke);
      padding-bottom: 3rem;
    }
    .title {
      margin-top: 5rem;
    }
    .studiet {
      font-size: 140px;
      margin-top: -15px;
      margin-left: 261px;
    }
  }
</style>
