---
import { Image } from "astro:assets";
import header from "../assets/images/headerbillede.webp";
---

<section class="container">
  <div class="img">
    <Image class="header" src={header} alt="header" />
  </div>

  <div class="line"></div>
  <div>
    <h2>Danse Studiet</h2>
  </div>
</section>

<style>
  @media (min-width: 800px) {
    ul {
      list-style: none;
      padding: 0;
      text-align: right;
      margin-top: -80px;
    }
    li {
      display: inline-block;
      margin-right: 50px;
    }
    img {
      clip-path: polygon(
        0 0,
        calc(100% - 85px) 0,
        calc(100% - 0px) calc(100% - 300px),
        0 calc(100% - 300px)
      );
    }

    .line {
      border-bottom: #196572 solid 4px;
      margin-top: -307px;
    }
    h2 {
      text-align: center;
      margin-top: -400px;
    }
  }
</style>
