---
import { Image } from "astro:assets";
import header from "../assets/images/headerbillede.webp";
---

<section>
  <div class="poly">
    <Image class="header" src={header} alt="header" />
  </div>

  <div class="line"></div>
  <div>
    <h2>Danse Studiet</h2>
  </div>
</section>

<style>
  @font-face {
    font-family: "MinSkrifttype";
    src: url("public/fonts/DansestudietDispaly1-Bold.ttf");
  }
  @media (min-width: 800px) {
    .poly {
      clip-path: polygon(0 0, 30% 0, 38% 56%, 0% 56%);
      padding: 9%;
      margin-top: -9%;
      margin-left: -10%;
    }
    h2 {
      margin-left: 60%;
      margin-top: -13%;
    }
    .line {
      border-bottom: #196572 solid 4px;
      max-width: 103%;
      margin-top: -495px;
      margin-left: -1%;
    }
  }
</style>
