---
import { Image } from "astro:assets";
import dans from "../assets/images/dansestudiet.svg";
const { link } = Astro.props;
---

<nav id="menu">
  <ul>
    <a href={link}><Image class="logo" src={dans} alt="dans" /></a>
    <li class="menu">Skema</li>
    <li class="menu">Underviser</li>
    <li class="menu">Danseuddannelse</li>
    <li class="menu">Workshops</li>
    <li class="menu">Kontakt</li>
  </ul>
</nav>
<script src="../scripts/menu.js"></script>
<style>
  @media (min-width: 800px) {
    ul {
      list-style: none;
      padding-left: 0;
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
    li {
      display: inline-block;
      margin-right: 50px;
      margin-top: 20px;
    }

    img {
      clip-path: polygon(0px 0px, 396px 0px, 98% 155px, 0px 155px);
    }

    .logo {
      background-color: #196572;
      padding-inline: 169px;
      padding-block: 40px;
      margin-block: -3rem;
      float: rigtht;
    }

    .logo_desktop {
      display: block;
    }
    #menu .logo_burger {
      display: none;
    }
    nav {
      border-bottom: 4px solid var(--border-stroke);
      height: 124px;
    }
    #menu {
      float: right;
    }
    #menu ul {
      display: flex;
      align-items: center;
      gap: 20px 40px;
      margin: 30px;
    }

    #menu a:hover {
      color: white;
    }
  }

  @media (max-width: 600px) {
    .logo {
      background-color: #196572;
      padding-inline: 120px;
      padding-block: 40px;
    }

    #menu {
      z-index: 1;
      min-width: 100%;
      min-height: 100%;
      position: fixed;
      top: 0;
      height: 0;
      visibility: hidden;
      opacity: 0;
      text-align: center;
      padding-top: 20px;
      transition: all 0.3s ease-in-out;
    }
    #menu.overlay {
      visibility: visible;
      opacity: 1;
      padding-top: 100px;
      background: rgba(0, 0, 0, 0.8);
    }
    #menu ul {
      padding: 0;
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 20px 40px;
      margin: 20px;
    }
    #menu li {
      list-style: none;
      display: initial;
    }

    #menu .logo_desktop {
      display: none;
    }
    #menu .logo_burger {
      display: block;
    }
  }
</style>
