---
import { Image } from "astro:assets";
import dans from "../assets/images/dansestudiet.svg";
const { link } = Astro.props;
---

<button id="burger-menu">
  <span></span>
</button>

<nav id="menu">
  <ul>
    <li><a href={link}><Image class="logo" src={dans} alt="dans" /></a></li>
    <li class="menu">Skema</li>
    <li class="menu">Underviser</li>
    <li class="menu">Danseuddannelse</li>
    <li class="menu">Workshops</li>
    <li class="menu">Kontakt</li>
  </ul>
</nav>
<script src="../scripts/menu.js"></script>
<style>
  @media (min-width: 800px) {
    ul {
      list-style: none;
      padding-left: 0;
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
    li {
      display: inline-block;
      margin-right: 50px;
      margin-top: 20px;
    }

    img {
      clip-path: polygon(0px 0px, 396px 0px, 98% 155px, 0px 155px);
    }

    .logo {
      background-color: #196572;
      padding-inline: 169px;
      padding-block: 40px;
      margin-block: -3rem;
    }

    nav {
      border-bottom: 4px solid var(--border-stroke);
      height: 124px;
    }
  }

  @media (max-width: 600px) {
    ul {
      list-style: none;
      padding-left: 0;
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
    li {
      display: inline-block;

      margin-top: 20px;
    }

    .logo {
      background-color: #196572;
      padding-inline: 80px;
      padding-block: 40px;
      margin-block: -3rem;
    }

    nav {
      border-bottom: 4px solid var(--border-stroke);
      height: 124px;
      width: 820px;
    }

    #burger-menu {
      display: block;
    }
    #burger-menu span,
    #burger-menu span:before,
    #burger-menu span:after {
      background: black;
      display: block;
      height: 3px;
      opacity: 1;
      position: absolute;
      transition: 0.3s ease-in-out;
      content: "";
    }
    #burger-menu span:before {
      left: 0px;

      width: 27px;
    }
    #burger-menu span {
      right: -50px;
      top: 13px;
      width: 27px;
    }
    #burger-menu span:after {
      left: 0px;
      top: 10px;
      width: 27px;
    }
    #burger-menu.close span:before {
      top: 0px;
      transform: rotate(90deg);
      width: 27px;
    }
    #burger-menu.close span {
      transform: rotate(-45deg);
      top: 13px;
      width: 27px;
    }
    #burger-menu.close span:after {
      top: 0px;
      left: 0;
      transform: rotate(90deg);
      opacity: 0;
      width: 0;
    }
    #menu {
      z-index: 1;
      min-width: 100%;
      min-height: 100%;
      position: fixed;
      top: 0;
      height: 0;
      visibility: hidden;
      opacity: 0;
      text-align: center;
      padding-top: 20px;
      transition: all 0.3s ease-in-out;
    }
    #menu.overlay {
      visibility: visible;
      opacity: 1;
      padding-top: 100px;
      background: rgba(0, 0, 0, 0.8);
    }
    #menu ul {
      padding: 0;
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 20px 40px;
      margin: 0px;
    }
    #menu li {
      list-style: none;
      display: initial;

      font-family: "Inter", sans-serif;
    }
    #menu a {
      display: block;
      font-size: 20px;
      margin-bottom: 30px;
      text-decoration: none;
    }
  }
</style>
