---
import { Image } from "astro:assets";
import dans from "../assets/images/dansestudiet.svg";
---

<section>
  <div class="poly">
    <Image class="logo" src={dans} alt="dans" />
  </div>
  <div>
    <ul>
      <li>Skema</li>
      <li>underviser</li>
      <li>Danseuddannelse</li>
      <li>Workshops</li>
      <li>kontakt</li>
    </ul>
  </div>
  <div class="line"></div>
</section>

<style>
  @media (min-width: 800px) {
    .poly {
      clip-path: polygon(0 0, 22vw 0, 25vw 28vh, 0 28vh);
      background-color: #196572;
      padding: 9%;
      margin-top: -1%;
      margin-left: -1%;
    }
    .logo {
      margin-top: -10%;
    }

    ul {
      list-style: none;
      padding: 0;
      margin-left: 48%;
      margin-top: -15%;
    }

    li {
      display: inline-block;
      margin-right: 50px;
    }
    .line {
      border-bottom: #196572 solid 4px;
      max-width: 103%;
      margin-top: 6%;
      margin-left: -1%;
    }
  }
</style>
