---
import { Image } from "astro:assets";
import dans from "../assets/images/dansestudiet.svg";
---

<section class="line">
  <div>
    <ul>
      <li>Skema</li>
      <li>underviser</li>
      <li>Danseuddannelse</li>
      <li>Workshops</li>
      <li>kontakt</li>
    </ul>
  </div>

  <Image class="logo" src={dans} alt="dans" />
</section>

<style>
  @media (min-width: 800px) {
    ul {
      list-style: none;
      padding: 0;
      text-align: right;
    }
    li {
      display: inline-block;
      margin-right: 50px;
    }
    img {
      clip-path: polygon(
        0 0,
        calc(100% - 80px) 0,
        98% calc(100% - 40px),
        0 calc(100% - 40px)
      );
    }

    .logo {
      background-color: #196572;
      padding: 200px;
    }
    .line {
      border-bottom: #196572;
    }
  }
</style>
