---
import { Image } from "astro:assets";
import omos from "../assets/images/omos.webp";
import Overskrift from "./Overskrift.astro";
---

<Overskrift title="Om os" />
<div class="line"></div>
<section class="flex">
  <div>
    <p class="grey">
      I 40 år har Dansestudiet været en vigtig del af det aarhusianske
      dansemiljø, og det er med stor respekt og taknemmelighed at de to nye
      indehavere Lisbet Kokholm Nør & Anne-Teresa Njust Høj overtager og
      viderefører Dansestudiet Aarhus. Undervisningen har hovedvægt på modern,
      jazz, klassisk ballet og street. Der er hold for både nybegyndere, let
      øvede, øvede og professionelle dansere – uanset alder, niveau og ambition
      er du velkommen. Dansestudiet Aarhus er central beliggende i Aarhus C tæt
      på Musikhuset, Bora Bora – dans og visuelt teater, Godsbanen og AROS.
    </p>
  </div>
  <div class="img">
    <Image class="omos" src={omos} alt="omos" />
  </div>
</section>

<style>
  @media (min-width: 800px) {
    .flex {
      display: flex;
    }
    section {
      background-color: #196572;
    }

    .img {
      max-width: 500px; /* Juster bredden efter behov */
      width: 100%; /* Sørg for, at billedet tager 100% af forælderens bredde */
    }

    img {
      clip-path: polygon(
        calc(100% - 500px) calc(100% - 400px),
        100% calc(100% - 400px),
        100% 100%,
        calc(100% - 375px) 100%
      );

      width: 100%; /* Sørg for, at billedet tager 100% af forælderens bredde */
      height: auto;
    }

    h2 {
      color: #196572;
      text-align: center;
      margin-top: 200px;
    }

    .line {
      width: 100%; /* Juster bredden efter behov */
      margin: 0 auto; /* Centerer linjen */
      border-bottom: 4px solid #196572;
    }

    p {
      width: 500px;
      margin-left: 100px;
      margin-top: 70px;
    }
  }

  @media (max-width: 400px) {
  }
</style>
