---
import { Image } from "astro:assets";
import omos from "../assets/images/omos.webp";
import Overskrift from "./Overskrift.astro";
---

<Overskrift title="Om os" />
<div class="line"></div>
<section class="flex">
  <div>
    <p class="grey">I 40 år har Dansestudiet været en vigtig del af det aarhusianske dansemiljø, og det er med stor respekt og taknemmelighed at de to nye indehavere Lisbet Kokholm Nør & Anne-Teresa Njust Høj overtager og viderefører Dansestudiet Aarhus. Undervisningen har hovedvægt på modern, jazz, klassisk ballet og street. Der er hold for både nybegyndere, let øvede, øvede og professionelle dansere – uanset alder, niveau og ambition er du velkommen. Dansestudiet Aarhus er central beliggende i Aarhus C tæt på Musikhuset, Bora Bora – dans og visuelt teater, Godsbanen og AROS.</p>
  </div>
  <div class="img">
    <Image class="omos" src={omos} alt="omos" />
  </div>
</section>

<style>
  section {
    background-color: #196572;
  }
  @media (min-width: 800px) {
    .flex {
      display: flex;
    }

    img {
      clip-path: polygon(calc(100% - 829px) calc(100% - 585px), 123% calc(100% - 585px), 100% 100%, calc(100% - 750px) 100%);
      margin-top: -84px;
    }

    h2 {
      color: #196572;
      text-align: center;
      margin-top: 200px;
    }
    .line {
      width: 100%; /* Juster bredden efter behov */
      margin: 0 auto; /* Centerer linjen */

      border-bottom: 4px solid #196572;
    }
  }
</style>
