---
const { title } = Astro.props;
---

<h2>{title}</h2>

<style>
  @media (min-width: 800px) {
    h2 {
      margin-block: 2rem;
      text-align: center;
    }
  }

  @media (max-width: 600px) {
    h2 {
      margin-left: 420px;
      font-size: 60px;
    }
  }
</style>
