---
import Button from "./Button.astro";
import CardStilarter from "./CardStilarter.astro";
import Overskrift from "./Overskrift.astro";
---

<Overskrift title="Stilarter" />
<section>
  <CardStilarter class="cards" />
  <div class="green_background">
    <Button link="#" title="Se alle" />
  </div>
</section>
<style>
  .green_background {
    clip-path: polygon(0px 0px, 183.46% -1px, 182.62% 100.17%, 13% 100%);
    background-color: var(--surface-secondary);
  }
  section {
    border-block: 4px solid var(--border-stroke);
    display: flex;
    padding-left: 4rem;
  }
</style>
