---
import Menu from "../components/Menu.astro";
import Header from "../components/Header.astro";
import Omos from "../components/Omos.astro";
import "../styles/global.css";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Dansestudiet</title>
  </head>
  <main>
    <slot />
  </main>


</html>
